*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: #e4e4e4;
  margin-top: 5rem;
}
